body {
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
}

/* Main */

.container-login {
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.container-login h3 {
  border: none;
  margin-top: 0;
  padding-bottom: 88px;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 49px;
  line-height: 58px;
}

.container-login form {
  display: flex;
  flex-direction: column;
}

.container-login form label {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #373867;
}

.container-login form .email, .container-login form .txt-pass {
  padding-bottom: 10px;
}

.container-login .email-value, .container-login .password-value{
  border: 1px solid #373867;
  border-radius: 4px;
  padding: 10px 10px;
}

.container-login form input[type="email"]::placeholder, .container-login form input[type="password"]::placeholder{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #373867;
}

.container-login form .txt-pass {
  padding-top: 50px;
}

.container-remember-forgot {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 100px;
}

.container-remember-forgot div {
  display: flex;
  align-items: center;
}

.container-remember-forgot div input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin: 0 10px 0 0;
}

.container-login form input[type="submit"] {
  border: 1px solid #373867;
  border-radius: 3px;
  background: #AACE9B;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #373867;
  margin-top: 115px;
  padding: 10px 0;
  cursor: pointer;
}

/* Validation */

.container-login .is-valid {
  border-color: #198754;
  background-color: #19875409;
}

.container-login .is-invalid {
  border: 1px solid #dc3545;
  background-color: #dc354607;
}

.validationErrorContainer, .validationSuccessContainer {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 18px;
}

.validationErrorContainer {
  color: #dc3545;
}

.validationSuccessContainer {
  color: #198754;
}

#valid-email p, #valid-password p{
  margin-top: 10px;
  color: #dc3545;
  font-size: 15px;
}

.msg-error {
  color: #dc3545;
  font-size: 14px;
  text-align: center;
}

.msg-success {
  color: #198754;
  font-size: 14px;
  text-align: center;
}

/* Modal */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}

.close {
  font-size: 28px;
  font-weight: bold;

}

.close:hover,
.close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

.modal-title {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #232F3E;
  color: #FFF;
}

.modal-title p {
  font-size: 30px;
}


.modal-information {
  padding: 20px;
  background: #FFF;
  font-size: 20px;
}

.modal-information p {
  line-height: 40px;
}

.modal-loading {
  text-align: center;
}


/* MediaQueries */

@media only screen and (min-width: 768px)  {
  .container-login {
    width: 30vw;
    max-width: 400px;
  }

  .modal-content {
    width: 50%;
  }
}


