main {
  display: flex;
  flex-direction: column;
  margin: 0 21px 0 21px;
}

/* Section: welcome */

.container-welcome {
  display: flex;
  flex-wrap: wrap;
}

.container-welcome h2 {
  width: 100%;
  padding: 30px 0;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.container-welcome .container-text {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.container-welcome .container-img {
  width: 30%;
}

.container-welcome div {
  display: flex;
  align-items: flex-start;
}

.container-welcome div p {
  font-family: 'Poppins';
  font-size: 28px;
  line-height: 42px;
}

.txt-info {
  display: none;
}

.container-welcome div img {
  width: 100%
}

.container-welcome button {
  display: none;
}

/* Section: what can you do? */

.container-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-cards .card-utilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 27px;
  text-align: center;
}

.container-cards .card-utilities .text-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 17px 21px 0 21px;
}

.text-card h4 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 700;
}

.text-card p {
  text-align: center;
}

/* Section: why */

.container-why ul {
  display: flex;
  flex-direction: column;
}

.container-why ul {
  margin: 10px 0 0 21px;
  list-style-type: '✓';
}

.container-why ul li {
  margin-top: 23px;
}

.container-why ul span {
  margin-left: 18px;
}

/* Section: contact form */

.contact-form {
  display: flex;
  justify-content: center;
  margin: 30px 9px 0 4px;
  border: 2px solid #9E9E9E;
  border-radius: 2px;
  background-color: #b2d1a53d;
}

.container-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 14px 0 14px 0;
  color: #000000;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
}

.bussines-name {
  display: flex;
  flex-direction: column;
}

.email {
  display: flex;
  flex-direction: column;
}

.phone {
  display: flex;
  flex-direction: column;
}

.item-contact {
  font-size: 12px;
  font-weight: 300;
}

.container-message {
  display: flex;
  flex-direction: column;
}

.container-message input[type="text"] {
  height: 110px;
  text-align: start;
}

.email, .contact-area, .phone, input[type="text"] {
  margin-bottom: 23px;
}

.container-btn-send {
  align-self: center;
}

.btn-send {
  padding: 10px 24px 10px 24px;
  border: 1px solid #373867;
  border-radius: 5px;
  background-color: #AACE9B;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

/* Section: Trackgenix history */

.container-history-company h4, .info-circles, .img-history {
  display: none;
}

.container-history-company {
  margin-top: 15px;
}

.txt-two {
  margin-top: 15px;
}

/* Section: items */

.container-items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 53px;
}

.container-subitems {
  width: 100%;
  margin-top: 43px;
}

.container-subitems h4 {
  display: inline-block;
  padding-bottom: 11px;
  border-bottom: 5px solid #AACE9B;
  font-size: 30px;
  font-weight: 700;
}

.container-subitems ol {
  margin-left: 24px;
  margin-top: 15px;
  list-style-type: decimal;
}

.container-subitems ol li a:hover {
  color: #9E9E9E;
}

/* Media queries */

@media only screen and (min-width: 768px) {
  /* Section: what can you do? */
  .card-utilities {
    width: 50%;
  }
}

@media only screen and (min-width: 1440px) {
  /* Section: welcome */
  .container-welcome .txt-welcome {
    width: 100%;
  }
  
  .container-welcome h2 {
    width: 40%;
    font-size: 64px;
    line-height: 96px;
    font-weight: 600;
    text-align: start;
    z-index: 10;
  }

  .container-welcome .container-text {
    width: 55%;
  }

  .container-text p:nth-child(1) {
    width: 50%;
    margin-top: 60px;
  }

  .container-text p:nth-child(2) {
    margin-top: 34px;
  }

  .container-welcome .container-img {
    position: relative;
    width: 45%;
    bottom: 200px;
    z-index: -1;
  }

  .container-welcome .txt-info {
    display: block;
    color: #00000070;
    font-size: 24px;
    line-height: 36px;
  }

  .container-welcome button {
    display: block;
    padding: 17px 25px;
    margin-top: 75px;
    border: 1px solid #373867;
    border-radius: 4px;
    background: #AACE9B;
    color: #373867;
    font-size: 13px;
    cursor: pointer;
  }

  /* Section: what can you do? */

  .container-cards {
    justify-content: flex-start;
  }

  .container-cards .card-utilities {
    justify-content: flex-start;
    flex-wrap: nowrap;
    text-align: start;
  }

  .container-cards .card-utilities .text-card {
    align-items: flex-start;
  }

  .text-card p {
    text-align: left;
  }

  /* Section: Contact form */

  .container-form {
    margin: 80px 0;
  }

  .container-form .input-text, .container-form input[type="number"], .container-form input[type="email"] {
    height: 43px;
  }

  .container-name-email {
    display: flex;
    justify-content: space-between;
  }
  
  .bussines-name {
    width: 45%;
  }

  .email {
    width: 45%;
  }

  .container-contact-phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .contact-area {
    width: 45%;
  }

  .phone {
    width: 45%;
  }

  /* Section: items */

  .container-subitems {
    flex: 1;
  }
}