body {
  overflow-x: hidden;
}

header {
  position: fixed;
  left: 19vw;
  height: 156px;
  width: 81vw;
  background-color: #FFF;
  z-index: 1000;
}

h1 {
  position: relative;
  left: 122px;
  top: 75px;
  font-family: 'Raleway';
  font-weight: 400;
  font-size: 30px;
  -webkit-text-stroke: 1px;
  width: 80%;
  border-bottom: 5px solid #AACE9B;
  padding-bottom: 30px;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 19vw;
  height: 100vh;
  background-color: rgba(224, 224, 224, 0.15);  
  border-right: 1px solid #000;
  z-index: 1000;
}

nav {
  margin-left: 45px;
  margin-right: 45px;
  height: 100vh;
}

main {
  position: relative;
  left: 19vw;
  width: 81vw;
  top: 156px;
  background-color: rgba(224, 224, 224, 0.15);
}

h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
}

footer {
    position: fixed;
    left: 19vw;
    bottom: 0;
    height: 156px;
    width: 81vw;
    background-color: #FFF;
    z-index: 100;
    text-align: center;
    border-top: 5px solid #AACE9B;
    vertical-align: middle;
}

.burguer-icon {
  position: absolute;
  left: 21vw;
  top: 40px;
  width: 35px;
  z-index: 2000;
}

.search {
  position: absolute;
  top: 30px;
  width: 70%;
}

.search img {
  opacity: 50%;
}

.search input::placeholder {
  color: #373867;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  opacity: 50%
}

.search img{
  position: absolute;
  margin-left: 8px;
  margin-top: 7px;
  width: 24px;
}

.search input {
  width: 100%;
  height: 38px;
  padding: 0 0 0 37px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.menu {
  position: relative;
  top: 130px;
}

.text-menu {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 5px solid #B1D1A4;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.menu > ul {
  margin-top: 74px;
  width: 100%;
}

.menu > ul > li:nth-child(1), .menu > ul > li:nth-child(2) {
  padding-bottom: 8px;
  border-bottom: 1px solid #A4A4A4;
  margin-bottom: 33px;
}

.menu > ul > li:nth-child(3) {
  border-bottom: 1px solid #A4A4A4;
  padding-bottom: 73px;
}

.menu > ul > li > a {
  text-decoration: none;
  color: #545454;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.contact-text {
  position: absolute;
  top: 500px;
}

.get-in-touch {
  width: 80%;
  padding-bottom: 10px;
  border-bottom: 5px solid #B1D1A4;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.text-get-in-touch {
  width: 90%;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  margin-top: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #545454;
}

.contact {
  position: absolute;
  top: 750px;
  width: 74%;
}

.contact ul li {
  width: 100%;
  border-bottom: 1px solid #A4A4A4;
  padding-bottom: 19px;
}

.contact ul li:nth-child(3) {
  border: none;
}

.contact ul li:nth-child(2) {
  margin-top: 26px;
}

.contact ul li:nth-child(3) {
  margin-top: 16px;
}

.contact ul li a {
  width: 100%;
  text-decoration: none;
  color: #545454;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
}

.image-icon {
  margin-left: 14px;
}

.text-contact-email {
  position: absolute;
  margin-left: 15px;
  width: 86%;
}

.text-contact-home {
  position: absolute;
  margin-left: 14px;
  width: 86%;
  display: inline-block;
}

.text-contact-phone {
  width: 86%;
  position: absolute;
  margin-left: 14px;
  margin-top: 14px;
}

.section-welcome {
  position: relative;
  left: 15px;
  top: 10px;
}

.welcome {
  width: 413px;
  height: 192px;
  font-family: 'Poppins', sans-serif;
  font-size: 64px;
  font-weight: 600;
  line-height: 96px;
}

.section-welcome p:nth-child(2) {
  margin-top: 86.83px;
  width: 426px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: italic;
  line-height: 42px;
  font-size: 28px;
  
}

.section-welcome > p:nth-child(3) {
  color: rgba(0, 0, 0, 0.44);
  width: 557px;
  margin-top: 76px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.section-welcome > img:nth-child(4) {
  width: 469px;
  height: 584px;
  position: absolute;
  top: 0px;
  left: 558px;
}

.btn-learn-more {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-top: 75px;
  width: 144px;
  height: 50px;
  color: #373867;
  background: #AACE9B;
  border: 1px solid #373867;
  box-sizing: border-box;
  border-radius: 4px;
}

/* Section: "What can you do? */

.container-cards {
  position: relative;
  top: 75px;
  width: 81vw;
  text-align: center;
}

.utilities {
  position: relative;
  width: 80%;
  left: 60px;
  top: 10px;
  margin-top: 10px;
  padding-bottom: 6px;
  border-bottom: 5px solid #AACE9B;
}

.card-utilities {
  display: inline-block;
  width: 522px;
  margin-bottom: 97px;
  margin-right: 50px;
}

.text-card {
  display: inline-block;
  width: 300px;
  font-family: 'Popins', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  position: relative;
  bottom: 40px;
  left: 10px;
}

.card-utilities:nth-child(3) .text-card {
  position: relative;
  top: 6px;

}

.text-card h4 {
  font-weight: 700;
}

/* Section: "Why use trackgenix?" */

.section-why {
  width: 81vw;
  margin-top: 125px;
  margin-left: 7px;
}

.section-why h3 {
  position: relative;
  left: 60px;
  width: 80%;
  padding-bottom: 19px;
  border-bottom: 5px solid #AACE9B;
}

.section-why ul {
  margin-left: 90px;
  margin-top: 50px;
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  line-height: 42px;
  font-weight: 400;
}

.section-why ul li {
  margin-bottom: 36px;
  list-style-type: '✓';
}

.section-why ul li span {
  margin-left: 29px;
}

/* Section: "Contact form" */

.section-contact {
  width: 81vw;
}

.section-contact h3 {
  position: relative;
  left: 60px;
  width: 80%;
  padding-bottom: 19px;
  border-bottom: 5px solid #AACE9B;
}

.contact-form {
  position: relative;
  left: 60px;
  width: 80%;
  height: 516px;
  background: rgba(178, 209, 165, 0.24);;
  margin-top: 84px;

}

.container-form {
  display: inline-block;
  width: 80%;
  height: 367px;
  margin-left: 135px;
  margin-top: 69px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.input-text {
  width: 340px;
  height: 48px;
  border: 1px solid #9E9E9E;
}

.container-name-email {
  display: inline-block;
  width: 100%;
  margin-bottom: 32px;
}

.bussines-name {
  display: inline-block;
  width: 45%;
  margin-right: 50px;
}

.bussines-name label {
  display: block;
}

.email {
  display: inline-block;
  width: 45%;
}

.email label {
  display: block;
}

.container-contact-phone {
  display: inline-block;
  width: 100%;
}

.contact-area {
  display: inline-block;
  width: 45%;
  margin-right: 50px;
}

.inputs-area {
  display: block;
  width: 160px;
}

.phone {
  position: relative;
  bottom: 20px;
  display: inline-block;
  width: 45%;
}

.container-message {
  display: inline-block;
  width: 100%;
  margin-bottom: 32px;
}

.container-message label{
  display: block;
}

.text-area {
  width: 90%;
  height: 125px;
  border: 1px solid #9E9E9E;
}

.container-btn-send {
  text-align: end;
  margin-right: 50px;
}

.btn-send {
  width: 158px;
  height: 36px;
  margin-top: 32px;
  color: #373867;
  text-align: center;
  background-color: #AACE9B;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

/* Section: "Trackgenix History" */

.section-history {
  width: 81vw;
  margin-top: 60px;
  margin-left: 7px;
}

.section-history h3 {
  position: relative;
  left: 60px;
  width: 80%;
  padding-bottom: 19px;
  border-bottom: 5px solid #AACE9B;
}

.container-history {
  position: relative;
  top: 40px;
  left: 60px;
  width: 80%;
  background-color: rgba(178, 209, 165, 0.24);
  border-radius: 50%;
  height: 604px;
}

.tittle-history {
  position: relative;
  left: 340px;
  top: 150px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #756464;
}

.tittle-history-span {
  position: relative;
  top: 40px;
  right: 60px;
}

.container-history p {
  font-family: 'Poppins', sans-serif;
  font-family: 10px;
  font-weight: 400;
  line-height: 20px;
}

.container-history .txt-one {
  position: relative;
  top: 250px;
  left: 80px;
  width: 39%;
}

.container-history .txt-two {
  position: relative;
  top: 300px;
  left: 600px;
  width: 26%;
}

.info-circles {
  position: relative;
  left: 370px;
  top: 220px;
}

.info-circles img:nth-child(2) {
  margin-left: 30px;
}

.img-history {
  position: relative;
  bottom: 130px;
  left: 600px;
}

/* Section: Items */

.container-items {
  margin-top: 120px;
  text-align: center;
  padding-bottom: 200px;
}

.container-subitems {
  display: inline-block;
  width: 20%;
  text-align: start;
  margin-right: 100px;
}

.container-subitems h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  border-bottom: 5px solid #AACE9B;
}

.container-subitems ol li {
  margin-top: 10px;
  margin-left: 30px;
  color: #1400FF;;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-decoration-line: underline;
  text-decoration: wavy;
  line-height: 36px;
  list-style-type: decimal;
}

.container-subitems ol li a {
  color: #1400FF;
}


/* Footer */

.container-footer {
  padding: 35px 0;
  color: #545454;
}

.location {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 7px;
}

footer div a img{
  width: 30px;
  color: #545454;
  margin-right: 25px;
}

.rights-reserved {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-top: 7px;
}
